<script  src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="example-1">
    <p>Message is : {{ message }}</p>
    <input v-model="message" placeholder="edit me">
    <br>

    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message2 }}</p>
    <textarea v-model="message2" placeholder="add multiple lines"></textarea>
    <br>
</div>
<script>
    new Vue({
        el:"#example-1",
        data: {
            message:'',
            message2:'',
            checked:false,
        }
    })
</script>


<div id="example-2">
    <input type="checkbox" id='checkbox' v-model='checked'>
    <label for='checkbox'>{{checked}}</label>
</div>
<script>
    new Vue({
        el:"#example-2",
        data: {
            checked:false,
        }
    })
</script>


<div id='example-3'>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
</div>
<script>
    new Vue({
        el:"#example-3",
        data: {
            checkedNames:[],
        }
    })
</script>


<div id="example-4">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>
<script>
    new Vue({
        el:"#example-4",
        data: {
            picked:[],
        }
    })
</script>


<div id="example-5">
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
<script>
    new Vue({
        el:"#example-5",
        data: {
            selected:'',
        }
    })
</script>


<div id="example-6">
    <select v-model="selected" multiple style="width: 50px;">
        <option v-for='option in options' v-bind:value='option.value'>
            {{ option.text  }}
        </option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
</div>
<script>
    new Vue({
        el:"#example-6",
        data: {
            selected:[],
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    })
</script>